extends layout

block content
    h1 The number of comments are #{comments.length}
    each comment in comments
      p #{comment.name} wrote: '#{comment.comment}' and gave #{comment.rating} stars for this event!